@import "includes/fonts";
@import "includes/colors";
@import "includes/demo";
@import "includes/btn";

html, body{
    margin:0;
    padding:0;
    width: 100%;
}
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:rgba(0,0,0,.5); 
    text-align:center;
    z-index: 1001;
    display: none;
    align-items: center;
    justify-content: center;
}
#lightbox img{
    flex: 0 auto;
}
#lightbox.active{
    display: flex;
}
nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    left:0;
    right:0;
    background: rgba(0,0,0,.25);
    &:before{
        content:'\2630';
        font-size: 3em;
        display: block;
        line-height: 50px;
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 20px;
        background: $dark-gray;
        color: $light-gray;
        margin:5px;
        display: none;
    }
    ul{
        margin: 0 10px;
        padding: 10px 0;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        li{
            flex: 1;
            padding: 0;
            margin:0 10px 0 0;
            &:last-child{
                margin-right: 0;
            }
            a{
                display: block;
                text-decoration: none;
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                background: $light-gray;
                color:$dark-gray;
                font-family:$regular;
                &:hover{
                    background: $dark-gray;
                    color:$light-gray;
                }
            }
        }
    }
}

.window{
    width:100%;
    height:100%;
    position:absolute;
}
.show{
    ul{
        display:block;
    }
    
    &:before{
        display:none;
    }
}

@for $i from 1 through 6{
    .window:nth-child(#{$i}){
        background:nth($colors, $i);
        top:($i - 1) * 100%;/* POSITIONS EACH WINDOW (absolute) */
    }
}
.window:nth-child(1){
    background: #fff url(http://placekitten.com/g/1280/960) 0 0 repeat fixed;
}
.window:nth-child(3){
    background: #fff url(../img/filipino-bg-teal.jpg) 0 0 repeat fixed;
}
@media only screen 
and (max-width : 1024px) {
    /*
    h1{
        font-size:3.0em;
    }
    h2{
        font-size:.7em;
    }
    p{
        font-size:.7em;
    }
    pre{
        font-size:.7em;
    }*/
    nav{
        &:before{
            display: block;
        }
        ul{
            display:none;
            li{
                margin: 10px 0;
                a{
                    font-size: 2em;
                }
            }

        }
    }
}