*{
    padding: 0;
    margin: 0;
}
h1{
    font-family:$bold;
    font-size:6.0em;
    color:$teal;
    text-align:center;

}
h2{
    font-family:$bold;
    font-size:1.4em;
    text-align:center;
    color: white;

}
p{
    font-family:$regular;
    color:$dark-gray;
    font-size:1.4em;
}
pre{
    color:$light-gray;
    color: #bcbdc0;
    font-size: 1.4em;
    line-height: 1.6em;
}

.window:nth-child(1){
    .content{
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-170px;
        i{
            font-size:4.0em;
            width:100%;
            text-align:center;
            display:inline-block;
            color:$light-green;
        }
        h1{
            margin:0;
        }
        h2{
            font-family: $regular;
            font-weight: normal;
            font-size: 2em;
            padding:0 30px;
        }
    }
}


.window:nth-child(2){
    .content{
        position:relative;
        width: 100%;
        h2{
            font-size: 6em;
            color: $red;
        }
        p{
            text-align: center;
            color: $red;
        }
    }
}

// explanation
.window:nth-child(3){
    ul{ list-style-type:none; }
    .content{
        position:absolute;
        top:50%;
        margin-top:-230px;
        padding: 10% 10%;
        .text-container{
            background: $red;
        }
        h2{
            text-align:center;
            font-size:3.0em;
        }
        .explanation{
            font-family:$regular;
            color:$dark-gray;
            font-size:1.4em;
            text-align:center;
            padding:0 15%;
            li{
                color:$light-gray;
            }
        }
    }
}

// code example
.window:nth-child(4){
    .content{
        position:absolute;
        top:50%;
        margin-top:-230px;
        padding: 10% 10%;
        border-radius: 20px;
        .text-container{
            background: $dark-gray;
        }
        h2{
            text-align:center;
            font-size:3.0em;
            color: $off-black;
        }

    }
}

// api
.window:nth-child(5){
    .content{
        position:absolute;
        top:50%;
        left:50%;
        margin:-350px 0 0 -450px;
    }
    h1{
        color:$dark-gray;
    }
    pre{
        color:$dark-gray;
    }
}


//download
.window:nth-child(6){
    .content{
        position:absolute;
        top:50%;
        left:50%;
        margin:-100px 0 0 -100px;
        text-align:center;
    }
}
.text-container{
    border-radius: 20px;
    padding: 20px;
    
}
ul.flickrbox{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
    li{
        display: block;
        margin: 1em;
        a{
            img{
            transform: scale(1);
            transition: all 0.25s ease-out;
            }
            &:hover img{
                
                transform: scale(1.1);
            }
        }
    }
}
